@charset "UTF-8";
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #55595C;
}

/* *******index.ntml******* */

/* header with menu desktop */

.navbar__logo {
  max-height: 80px;
}

.nav__btn {
  cursor: pointer;
  font-size: 1.05rem;
  border-radius: 0.3rem;
}

.nav__btn:hover {
  box-shadow: white 0px 0.06rem 0.5rem;
}

.nav__btn--signUp, .nav__btn--logIn, .nav__btn--logOut {
  background-color: #ffffff;
  border-radius: 1.25rem;
  color: #484545;
  padding: 0.13rem 1.4rem;
}

.nav__btn--signUp, .nav__btn--logIn {
  font-size: 1.2rem;
}

.nav__btn--signUp:hover, .nav__btn--logIn:hover {
  box-shadow: none;
  background-color: #fff;
  color: #484545;
}

/* menu-mobile */

.ul__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.header__photo {
  width: 35%;
}

.header-name {
  font-size: 3vh;
}

.menu__social--mobile {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#navbarSupportedContent {
  height: calc(100vh - 100px);
}

/* main img with overlay */

.main__bg {
  width: 100%;
  height: calc(31.25rem - 6.25rem);
  background-image: url(../imgs/carFromFuture.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(209, 193, 189, 0.41);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__text {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.aboutUs{
  margin: 50px 0px;
}

.aboutUs__card {
  position: relative;
  max-width: 190px;
  border: 1px solid #D1C1BD;
  border-radius: 0px;
  box-shadow: 0rem 0.1rem 0.37rem #000000;
  margin: 0 auto;
  padding: 45px 10px 10px 10px;
}

.aboutUs__card-icons {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.aboutUs__card-title {
  font-size: 1.25rem;
  color: #42556A;
  text-align: center;
}

.aboutUs__subtitle {
  font-size: 1rem;
  color: #000;
}

.aboutUs__text {
  font-size: 14px;
}

/* **---------clientProfile-----------** */

/* menu */

.btn__lang__hide {
  display: none;
}

/* personal information */

.section__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C36969;
  text-align: center;
}

.item__border {
  box-shadow: 0rem 0.1rem 0.37rem #E5DBD9;
  border-radius: 1.125rem;
}

.hero>.personal-item>img {
  width: 130px;
}

.btn__custom {
  background-color: #C36969;
  box-shadow: 0rem 0.1rem 0.37rem #000000;
  color: #fff;
  font-weight: bold;
}

.btn__custom:hover {
  background-color: #b42f2f;
  color: #fff;
}

/* rent a car */

.rent__button-group {
  height: 8.75rem;
  justify-content: space-between;
}

.item__time-card {
  height: 21.9rem;
}

.date__select-form {
  display: flex;
  justify-content: space-between;
}

.date__select-form__item {
  flex-basis: calc((100%/3) - 0.5rem);
}

.card__hide__desc, .card__hide__tab {
  display: none;
}

.carousel {
  background-color: rgb(209, 193, 189, 41%);
  text-align: center;
}

.carousel-item {
  padding: 60px;
}

.row {
  align-items: center;
  justify-content: center;
}

.card-text {
  text-align: start;
}

.card {
  min-height: 400px;
  overflow-y: hidden;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%42556A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%42556A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators>li {
  background-color: #42556A;
}

/* modal window */

.modal__img-wrapper {
  flex-basis: 20%;
}

.modal__img {
  width: 100%;
  border-radius: 20px
}

.modal__text-wrapper {
  flex-basis: 60%;
}

#messageToOwner {
  border: 1px solid #DDDDDD;
  width: 100%;
}

/******* mapClientPage *******/

.btn__back {
  box-shadow: 0rem 0.1rem 0.37rem #000000;
  font-size: 0.9rem;
  font-weight: bold;
}

.btn__back:hover {
  color: #ffffff;
  background-color: #b42f2f;
}

.map__wrapper {
  margin-top: 40px;
}

iframe {
  border-radius: 18px;
  width: 100%;
  height: 50vh;
}

/* *****sign up page***** */

.decktop__only {
  display: none;
  flex-direction: column;
  flex-basis: 20%;
}

.neverShare {
  font-size: 14px;
  color: #818A91;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  body {
    border: 1px solid red;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  body {
    border: 1px green solid;
  }
  #navbarSupportedContent{
    height: auto;
  }
  .main__bg {
    height: calc(75vh - 6.25rem);
  }
  .main__button > .btn__custom{
    display: inline-block !important;
    margin-bottom: 0rem !important;
    margin: 0 auto;
    width: 30%!important;
  }
  .main__button > .btn__custom:first-child{
    margin-right: 20px !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  body {
    border: 1px solid yellow;
  }
  .main__bg {
    height: calc(100vh - 6.25rem);
  }

  .header__text {
    font-size: 1.7rem;
  }

  .section__title {
    font-size: 2.1rem;
  }

  
  /* header */
  .nav__btn--signUp::after, .nav__btn--logIn::after {
    content: "";
  }

  .nav__btn--signUp:hover, .nav__btn--logIn:hover {
    box-shadow: white 0px 1px 8px;
    background-color: #212529;
    color: #ffff;
  }
  .nav__btn--logIn {
    background-image: url('../imgs/icons/user-outlined.svg')!important;
    background-repeat: no-repeat !important;
    background: #212529;
    color: #ffff;
  }
  .nav__btn--signUp, .nav__btn--logIn {
    font-size: 1.06rem;
  }
  .header__photo {
    width: 28%;
    align-self: center;
  }
  .header-name {
    font-size: 2vh;
  }
  /* menu */
  #navbarSupportedContent {
    height: auto;
  }
  .ul__items {
    height: auto;
  }
  .nav__btn {
    margin: 0 0.3rem;
  }
  .nav-item {
    margin-bottom: 0;
  }
  .social-link {
    display: none;
  }
  /* main img with overlay */
  .overlay {
    position: relative;
  }

  .main__tagline-wrapper {
    max-width: 23.1rem;
    position: absolute;
    left: 0;
    right: 50%;
  }
  
  .aboutUs__subtitle{
    text-align: center;
    font-size: 1.5rem;

  }

  /* **---------clientProfile-----------** */
  /* menu */
  .btn__lang__hide {
    display: block;
  }
  .menu__user-info {
    display: block!important;
  }
  .mobile__only {
    display: none!important;
  }
  .header__photo {
    margin-bottom: 0;
  }
  /* personal information */
  .hero {
    display: flex;
    justify-content: space-between;
  }
  .hero__personal-item__photo {
    flex-basis: 30%;
  }
  .hero__personal-item__inputs {
    flex-basis: 70%;
    display: flex;
    justify-content: space-evenly;
  }

  /* !!!!!! */
  .btn__custom {
    display: inline-block !important;
    margin-bottom: 0rem !important;
    margin: 0 auto;
    width: auto!important;
  }
  /* rent a car */
  .rent__button-group {
    flex-direction: row !important;
  }
  .location__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .item__time-card {
    flex-basis: calc((100%/2) - 2rem);
  }
  .card__hide__tab {
    display: block;
  }
  /* *****sign up page***** */
  .decktop__only {
    display: flex;
  }

}
/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  body {
    border: 2px solid blue;
  }
  .card__hide__desc {
    display: block;
  }
  
}