@charset "UTF-8";
.btn__openModal{
  border: none;
  background: transparent;
}



.btn__positionModal{
position: absolute;
  top: 30px;
  right: 170px;
}

:focus{
  outline: 0;
}

/* personal information */
.hero, label{
  color:#55595C;
}

h1{
  font-size: 35px;
  font-weight: bold;
  color: #C36969; 
  text-align: center;

}

.item-border{
  color: #E5DBD9;
  box-shadow: 0px 3px 6px #E5DBD9;
  border-radius: 18px;
  
}

.btn-choseFile{
  color: #C36969;
  box-shadow: 0px 3px 6px #000000;
  font-size: 0.9rem;
}
.personal-item{
  flex-basis: calc((100%/3) - 2rem);
}